{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté comme {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Mot de Passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">

    <div class="remember checkbox mb-3">
        <label for="remember">Se souvenir de moi</label>
        <input type="checkbox" name="_remember_me" id="remember">
    </div>

    <button class="btn btn-lg btn-primary" type="submit">
        Se connecter
    </button>
</form>
    <div>
        <a href="{{ path('app_forgot_password_request') }}" title="Mot de passe oublié">Mot de passe oublié</a>
    </div>
{% endblock %}
