{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Modification d'un profil{% endblock %}

{% block body %}
    <h4>Modification du profil</h4>

    {{ include('participant/_formProfil.html.twig', {'button_label': 'Mettre à jour'}) }}

    {% if app.user %}
        <a href="{{ path('app_sortie_index') }}"><button class="btnAppPerso">Retour à la liste</button></a>
    {% else %}
        <a href="{{ path('app_participant_index') }}"><button class="btnAppPerso">Retour à la liste</button></a>
    {% endif %}

    {{ include('participant/_delete_form.html.twig') }}
{% endblock %}
