{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Participant{% endblock %}

{% block body %}
    <h1>Participant</h1>

    <table class="table">
        <tbody>
            <h2>
                {{ participant.pseudo }}
            </h2>
            <tr>
                <th>Nom</th>
                <td>{{ participant.nom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ participant.prenom }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ participant.telephone }}</td>
            </tr>

            <tr>
                <th>Mail</th>
                <td>{{ participant.email }}</td>
            </tr>

            <tr>
                <th>Campus</th>
                <td>{{ participant.campus.nom }}</td>
            </tr>

            {% if participant.image is not empty %}
                <div>
                    <img src="{{asset(participant.image) }}" alt="image_profil">
                </div>
            {% endif %}

        </tbody>
    </table>
    {% if  is_granted('ROLE_ADMIN')%}
        <a href="{{ path('app_participant_index') }}">Retour à la liste</a>
     {%else%}
        <a href="{{ path('app_sortie_index') }}">Retour à la liste</a>
    {% endif %}




    <a href="{{ path('app_participant_edit', {'id': participant.id}) }}">Modifier</a>

    {{ include('participant/_delete_form.html.twig') }}
{% endblock %}
