{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} |Campus{% endblock %}

{% block body %}
    <h4>Campus</h4>

    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ campus.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ campus.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_campus_index') }}"><button class="btnAppPerso">Retour à la liste</button></a>

    <a href="{{ path('app_campus_edit', {'id': campus.id}) }}"><button class="btnAppPerso">Modifier</button></a>

    {{ include('campus/_delete_form.html.twig') }}
{% endblock %}
