{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block body %}
    <h1>Liste des sorties</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Date et heure de début</th>
                <th>Durée</th>
                <th>Date limite d'inscription</th>
                <th>Nombre d'inscriptions maximum</th>
                <th>Infos sortie</th>
                <th>Annulation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.id }}</td>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sortie.duree }}</td>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('Y-m-d') : '' }}</td>
                <td>{{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.infosSortie }}</td>
                <td>{{ sortie.annulation }}</td>
                <td>
                    <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}">show</a>
                    <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Pas de sortie enregistrée!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sortie_new') }}">Créér</a>
{% endblock %}
