{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block body %}
    <h1>Liste des sorties</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date et heure de début</th>
                <th>Date limite d'inscription</th>
                <th>Inscrits/Places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>

                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d/m/Y - H:s') : '' }}</td>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d/m/Y') : '' }}</td>
                <td>{{ sortie.participants.count }}/{{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.etat.libelle}}</td>
                <td>A faire</td>
                <td>{{ sortie.organisateur.nom }}</td>
                <td>
                    <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}">Afficher</a>
                    <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Pas de sortie enregistrée!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sortie_new') }}">Créer</a>
{% endblock %}
