{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Sortie{% endblock %}

{% block body %}
    <h1>Sortie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sortie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ sortie.nom }}</td>
            </tr>
            <tr>
                <th>Date et heure de début</th>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Durée</th>
                <td>{{ sortie.duree }}</td>
            </tr>
            <tr>
                <th>Date limite d'inscription</th>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre d'inscriptions maximum</th>
                <td>{{ sortie.nbInscriptionsMax }}</td>
            </tr>
            <tr>
                <th>Infos sortie</th>
                <td>{{ sortie.infosSortie }}</td>
            </tr>
            <tr>
                <th>Annulation</th>
                <td>{{ sortie.annulation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_sortie_index') }}">Retour à la liste</a>

    <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">edit</a>

    {{ include('sortie/_delete_form.html.twig') }}
{% endblock %}
