<!doctype html>
<html lang="fr-FR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}Sortir.com{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Roboto:wght@100&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('style/app.css') }}">

    <link rel="icon" href="{{ asset('img/fav-icon-sortir.png') }}">

{% block extrastyles %}{% endblock %}

    {% block javasripts %}
        {% block importmap %} {{ importmap('app') }} {% endblock %}
    {% endblock %}

</head>
<body>

<header>
    <div class="container">
        <div class="header-top">
            <h1 class="header-logo">
                {% if (app.user) %}
                    <a href="{{ path('app_sortie_index') }}"><img src="{{ asset('img/logo_sortir.com-b.png') }}" alt="Sortir.com" title="Accueil"></a>
                {% else %}
                    <img src="{{ asset('img/logo_sortir.com-b.png') }}" alt="logo">
                {% endif %}
            </h1>
            {{ include('inc/usernav.html.twig') }}
        </div>
        {{ include('inc/nav.html.twig') }}
    </div>
</header>

<main>
    <div class="container">
        {# read and display all flash messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</main>

<footer>
   <div>&copy;  Sortir.com! - {{ "now" | date("Y") }}</div>
</footer>

</body>
</html>
