{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Etats{% endblock %}

{% block body %}
    <h4>Liste des états</h4>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libéllé</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etat in etats %}
            <tr>
                <td>{{ etat.id }}</td>
                <td>{{ etat.libelle }}</td>
                <td class="lienTableau">
                    <a href="{{ path('app_etat_show', {'id': etat.id}) }}">Afficher</a>
                    <a href="{{ path('app_etat_edit', {'id': etat.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas d'état enregistré!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_etat_new') }}"><button class="btnAppPerso">
            Créer
        </button></a>
{% endblock %}
